<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ocnyang.viewanimation">

    <application>
        <activity
            android:name=".ViewAnimationActivity"
            android:label="@string/module_name">
        </activity>
    </application>

</manifest>