<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ocnyang.drawableanimation">

    <application>
        <activity android:name=".DrawableAnimationActivity"
            android:label="@string/module_drawable">
        </activity>
    </application>

</manifest>